<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">StockVision</div>
        <div class="footer-info">
            <div>
                <h3>Objective</h3>
                <p>This application aims to assist in decision-making by providing useful insights for understanding market trends and planning strategic investments.</p>
            </div>
            <div>
                <h3>Note</h3>
                <p>Predictions are based on historical data and machine learning techniques. They do not guarantee future results and should be used as a complementary analysis tool.</p>
            </div>
        </div>
    </div>
</footer>