<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <main>
        {% include 'components/hero.html' %}
        {% with current_data=data, history_data=historical_data %}
            {% include 'components/results.html' %}
        {% endwith %}
    </main>

    {% include 'components/footer.html' %}

    {% if historical_data %}
    <script>
        window.historicalData = {{ historical_data | safe }};
    </script>
    {% endif %}

    <script type="module" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/market.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>